<template>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <nuxt-link class="navbar-brand" to="/">NuxtJS</nuxt-link>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <nuxt-link exact active-class="active" class="nav-link" aria-current="page" to="/">Home</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link no-prefetch active-class="active" class="nav-link" to="/users">Users</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link no-prefetch active-class="active" class="nav-link" to="/about">About</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link no-prefetch active-class="active" class="nav-link" to="/auth/login">Login</nuxt-link>
            </li>
            <li class="nav-item" v-if="isAuth">
              <a class="nav-link" href="#" @click.prevent="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  computed: {
    isAuth() {
      return this.$store.getters['auth/isAuth']
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
    }
  }
}
</script>

<style scoped>

</style>
