<template>
  <form @submit.prevent="onSubmit()">
    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input type="text" class="form-control" id="Username" aria-describedby="UsernameHelp">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" >
    </div>
    <nuxt-link no-prefetch active-class="active" class="nav-link" to="/">Home</nuxt-link>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>

<script>
export default {
  layout: 'empty',
  data: () => ({}),
  methods: {
    onSubmit() {
      this.$store.dispatch('auth/login')
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
 form {
   width: 600px;
 }
</style>
