<template>
  <section>
    <h1>{{ title }}</h1>
    <ul>
      <li v-for="user in users" :key="user.id">
        <a href="#" @click.prevent="goTo(user.id)">{{ user.name }} <{{ user.email }}></a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  data: () => ({
    title: 'Users page'
  }),
  methods: {
    goTo(userId) {
      this.$router.push('/users/' + userId)
    }
  },
  computed: {
    users() {
      return this.$store.getters['users/GET_USERS']
    }
  },
  // async fetch({store, error}) {
  //   try {
  //     if (store.getters['users/GET_USERS'].length === 0) {
  //       await store.dispatch('users/fetchUsers')
  //     }
  //   } catch (e) {
  //     error(e)
  //   }
  // }
}
</script>

<style scoped>

</style>
