<template>
  <div>
    <navbar/>
    <main>
      <div class="container">
        <nuxt/>
      </div>
    </main>
  </div>

</template>

<script>

import navbar from "../components/Navbar";

export default {
  components: {navbar}
}
</script>

<style scoped>
</style>
