<template>
  <div>
    <h1>About page</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fuga illo itaque optio quas voluptas.</p>
  </div>
</template>

<script>
export default {
  middleware: ['auth']
}
</script>

<style scoped>

</style>
